@font-face {
    font-family: "Poppins-Regular";
    src: url(../Assets/Fonts/Poppins/poppins-regular-webfont.woff) format("woff"),
    url(../Assets/Fonts/Poppins/poppins-regular-webfont.woff2) format("woff2");
  }
@font-face {
    font-family: "Poppins-Bold";
    src: url(../Assets/Fonts/Poppins/poppins-bold-webfont.woff) format("woff"),
    url(../Assets/Fonts/Poppins/poppins-bold-webfont.woff2) format("woff2");
  }
h1{
    font-family: Inter-Bold;
}
a{
    font-family: Poppins-Regular;
    text-decoration: none;
}
p{
    font-family: Poppins-Regular;
    line-height: 1.5rem;
}
ul li{
    list-style: none;
}
.container {
    width: 90%;
    margin: auto;
  }
.keyword{
    position: absolute;
    top: -15px;
    left: 10px;
    color: #8873EF;
    font-size: 20px;
    transform: rotate(-22deg);
    font-family: Poppins-Regular;
}
/* <!--------------------------------------------------------------------------------header-bar --> */
.header-bar{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 0 auto;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.navbar ul li{
    margin:0 15px ;
    list-style: none;
    text-decoration: none;
}
.navbar ul li a{
    color: #000;
    font-weight: bold;
    position: relative;
}
.navbar ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s;
}
.navbar ul li a:hover::after{
    width: 100%;
    
}

.signing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;

}
.signing a{
    color: #000;
}
.sign-in{
    margin: auto;
}

.sign-up{
    margin: 0 15px;
    border: #000 1px solid;
    border-radius: 5px;
    padding: 10px 30px;
}

@media all and (max-width: 640px) {
    .header-bar{
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #fff;
        padding: 0 auto;
    }
    .logo{
        display: none;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .navbar ul li{
        margin:0 10px ;
        list-style: none;
        text-decoration: none;
        font-size: 12px;
        font-weight: 300;
    }
    .navbar ul li a{
        color: #000;
        font-weight: bold;
        position: relative;
    }
    .navbar ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #000;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition:0.5s;
    }
    .navbar ul li a:hover::after{
        width: 100%;
        
    }
    
    .signing{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
    
    }
    .signing a{
        color: #000;
        font-size: 12px;
        font-weight: 600;
    }
    .sign-in{
        margin: auto;
    }
    
    .sign-up{
        margin: 0 15px;
        border: #000 1px solid;
        border-radius: 5px;
        padding: 10px 30px;
    }   
}
/* ------------------------------------------------------------------768px responsive-----Header-----*/
@media all and (max-width: 768px) {
    .header-bar{
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #fff;
        padding: 0 auto;
    }
    .logo{
        display: none;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .navbar ul li{
        margin:0 10px ;
        list-style: none;
        text-decoration: none;
        font-size: 12px;
        font-weight: 300;
    }
    .navbar ul li a{
        color: #000;
        font-weight: bold;
        position: relative;
    }
    .navbar ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #000;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition:0.5s;
    }
    .navbar ul li a:hover::after{
        width: 100%;
    }
    .navbar ul li a:active{
        color: red;
    }
    .signing{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
    
    }
    .signing a{
        color: #000;
        font-size: 12px;
        font-weight: 600;
    }
    .sign-in{
        margin: auto;
    }
    
    .sign-up{
        margin: 0 15px;
        border: #000 1px solid;
        border-radius: 5px;
        padding: 10px 30px;
    }   
}
/* ------------------------------------------------------------------640px responsive-----Header-----*/
@media all and (max-width: 640px) {
    .header-bar{
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #fff;
        padding: 0 auto;
    }
    .logo{
        display: none;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .navbar ul li{
        margin:0 10px ;
        list-style: none;
        text-decoration: none;
        font-size: 12px;
        font-weight: 300;
    }
    .navbar ul li a{
        color: #000;
        font-weight: bold;
        position: relative;
    }
    .navbar ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #000;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition:0.5s;
    }
    .navbar ul li a:hover::after{
        width: 100%;
        
    }
    
    .signing{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
    
    }
    .signing a{
        color: #000;
        font-size: 12px;
        font-weight: 600;
    }
    .sign-in{
        margin: auto;
    }
    
    .sign-up{
        margin: 0 15px;
        border: #000 1px solid;
        border-radius: 5px;
        padding: 10px 30px;
    }   
}
/* ------------------------------------------------------------------480px responsive-----Header-----*/

@media all and (max-width: 480px) {
    .header-bar{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        margin:  auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 0 0 10px 0;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px  auto;
        width: 90%;
    }
    .header-logo{
        width: 70%;
        margin: auto;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:auto;
        padding: 0;
    }
    .navbar ul li{
        margin: 0;
    }
    .navbar ul li a{
        margin:auto 10px;
        font-size: 10px;
    }
    .signing{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        width: 30%;
        margin: auto;
        padding: 0;
    }
    .signing a{
        color: #000;
        font-size: 10px;
        font-weight: 600;
    }
    .sign-in{
        margin: auto;
    }
    
    .sign-up{
        margin: 0 8px;
        border: #000 1px solid;
        border-radius: 5px;
        padding: 3px 8px;
    }   
}
/* ------------------------------------------------------------------360px responsive-----Header-----*/

@media all and (max-width: 360px) {
    .header-bar{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        margin:  auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 0 0 10px 0;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px  auto;
        width: 90%;
    }
    .header-logo{
        width: 70%;
        margin: auto;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:auto;
        padding: 0;
    }
    .navbar ul li{
        margin: 0;
    }
    .navbar ul li a{
        margin:auto 10px;
        font-size: 10px;
    }
    .signing{
        display: none;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        width: 30%;
        margin: auto;
        padding: 0;
    }
    .signing a{
        color: #000;
        font-size: 10px;
        font-weight: 600;
    }
    .sign-in{
        margin: auto;
    }
    
    .sign-up{
        margin: 0 8px;
        border: #000 1px solid;
        border-radius: 5px;
        padding: 3px 8px;
    }   
}
/* ------------------------------------------------------------------320px responsive-----Header-----*/
@media all and (max-width: 320px) {
    .header-bar{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        margin:  auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 0 0 10px 0;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px  auto;
        width: 90%;
    }
    .header-logo{
        width: 70%;
        margin: auto;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:auto;
        padding: 0;
    }
    .navbar ul li{
        margin: 0;
    }
    .navbar ul li a{
        margin:auto 10px;
        font-size: 10px;
    }
    .signing{
        display: none;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        width: 30%;
        margin: auto;
        padding: 0;
    }
    .signing a{
        color: #000;
        font-size: 10px;
        font-weight: 600;
    }
    .sign-in{
        margin: auto;
    }
    
    .sign-up{
        margin: 0 8px;
        border: #000 1px solid;
        border-radius: 5px;
        padding: 3px 8px;
    }   
}
/* <!------------------------------------------------------------------------------------------------------------------Enquiry_spotlight--> */

.Enquiry_spotlight{
    background-color: #FCDA69;
    height: auto;
}
.container.Enquiry_spotlight{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.left-spotlight{
    width: 40%;
    position: relative;
}
.left-spotlight-head{
    font-size: 55px;
}
.keyword.Hello{
    position: absolute;
    top: -5 px;
    left: 5px;
}


/* .....................................................980px responsive..........  */
@media all and (max-width: 980px) {
    .Enquiry_spotlight{
        background-color: #FCDA69;
        height: auto;
    }
    .container.Enquiry_spotlight{
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
    }
    .left-spotlight{
        width: 60%;
        position: relative;
    }
    .left-spotlight-head{
        font-size: 55px;
    }
    .keyword.Hello{
        position: absolute;
        top: -5 px;
        left: 5px;
    }
    .seal{
        width: 200px;
        height: 185px;
    }
}
/* .....................................................640px responsive..........  */
@media all and (max-width: 640px) {
    .Enquiry_spotlight{
        background-color: #FCDA69;
        height: auto;
    }
    .container.Enquiry_spotlight{
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
    }
    .left-spotlight{
        width: 60%;
        position: relative;
    }
    .left-spotlight-head{
        font-size: 48px;
    }
    .right-spotlight{
        width: 30%;
        position: relative;
    }
    .keyword.Hello{
        position: absolute;
        top: -5 px;
        left: 5px;
    }
    .seal{
        width: 200px;
        height: 185px;
    }
}
/* .....................................................480px responsive..........  */
@media all and (max-width: 480px) {
    .Enquiry_spotlight{
        background-color: #FCDA69;
        height: auto;
    }
    .container.Enquiry_spotlight{
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        padding: 80px 0;
    }
    .left-spotlight{
        width: auto;
        position: relative;
    }
    .left-spotlight-head{
        font-size: 40px;
    }
    .landingtext{
        font-size: 12px;
    }
    .right-spotlight{
        width: 30%;
        position: relative;
    }
    .keyword.Hello{
        position: absolute;
        top: -5px;
        left: 5px;
        font-size: 12px;
    }
    .seal{
        width: 100px;
        height: 150px;
    }
}
/* .....................................................360px responsive..........  */
@media all and (max-width: 360px) {
    .Enquiry_spotlight{
        background-color: #FCDA69;
        height: auto;
    }
    .container.Enquiry_spotlight{
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        padding: 80px 0;
    }
    .left-spotlight{
        width: auto;
        position: relative;
    }
    .left-spotlight-head{
        font-size: 30px;
    }
    .landingtext{
        font-size: 11px;
    }
    .right-spotlight{
        width: 30%;
        position: relative;
    }
    .keyword.Hello{
        position: absolute;
        top: -5px;
        left: 5px;
        font-size: 12px;
    }
    .seal{
        width: 65px;
        height: 100px;
    }
}
/* .....................................................320px responsive..........  */
@media all and (max-width: 320px) {
    .Enquiry_spotlight{
        background-color: #FCDA69;
        height: auto;
    }
    .container.Enquiry_spotlight{
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
    }
    .left-spotlight{
        width: auto;
        position: relative;
    }
    .left-spotlight-head{
        font-size: 28px;
    }
    .landingtext{
        font-size: 10px;
    }
    .right-spotlight{
        width: 30%;
        position: relative;
    }
    .keyword.Hello{
        position: absolute;
        top: -5px;
        left: 5px;
        font-size: 11px;
    }
    .seal{
        width: 65px;
        height: 100px;
    }
}
/* <!---------------------------------------------------------------------------------------------Enquiry_Form--> */
.enquiry-head-sec{
    width: 40%;
    margin: 50px auto;
}
.enquiryHead{
    font-size: 40px;
    text-align: center;
    color: #000;
}
.enquiryform-top{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 50px auto;

}
.enquiry-inputs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    padding-bottom: 50px;
    border-bottom: #555 1px solid;
}
.inputBoxes{
    width: 45%;
    margin: 20px;
}
.inputBoxes.textbox{
    height: 100px;
    width: 100%;
    margin: 20px;
    font-size: 15px;
}
.inputcontainer{
    border: #555 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.inputcontainer:hover{
    border: #FCDA69 1px solid;

}
label{
    color:#7d7c7c;
}
.flag{
    width: 5%;
    height: 5%;
    border-radius: 50%;
    margin: auto 5px;
}
input{
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;

}
.project-selectors{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    padding-top: 50px;
}
.SelectContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 45%;
    margin: 10px auto;
}

.selectbox{
    display: flex;
    border-radius: 10px;
    width: 100%;
    margin: 10px auto;;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selectbox:hover{
    border: #FCDA69 1px solid;

}
option{
    color: rgb(12, 2, 2);
    font-size: 15px;
}
.submit-button{
    display: flex;
    justify-content: flex-end;
    margin: 50px 100px ;
    
}
.formbutton{
    padding: 15px 80px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}

/* .....................................................980px responsive..........  */
@media all and (max-width: 980px) {
    .enquiry-head-sec{
        width: 40%;
        margin: 50px auto;
    }
    .enquiryHead{
        font-size: 40px;
        text-align: center;
        color: #000;
    }
    .enquiryform-top{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin: 50px auto;
    
    }
    .enquiry-inputs{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        margin: 20px auto;
        padding-bottom: 50px;
        border-bottom: #555 1px solid;
    }
    .inputBoxes{
        width: 45%;
        margin: 10px;
    }
    .inputBoxes.textbox{
        height: 100px;
        width: 100%;
        margin: 20px;
        font-size: 15px;
    }
    .inputcontainer{
        border: #555 1px solid;
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    .inputcontainer:hover{
        border: #FCDA69 1px solid;
    
    }
    label{
        color:#7d7c7c;
    }
    .flag{
        width: 5%;
        height: 5%;
        border-radius: 50%;
        margin: auto 5px;
    }
    input{
        border: none;
        border-radius: 10px;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
    
    }
    .project-selectors{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        margin: 20px auto;
        padding-top: 50px;
    }
    .SelectContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 45%;
        margin: 10px auto;
    }
    
    .selectbox{
        display: flex;
        border-radius: 10px;
        width: 100%;
        margin: 10px auto;;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .selectbox:hover{
        border: #FCDA69 1px solid;
    
    }
    option{
        color: rgb(12, 2, 2);
        font-size: 15px;
    }
    .submit-button{
        display: flex;
        justify-content: flex-end;
        margin: 50px 100px ;
        
    }
    .formbutton{
        padding: 15px 80px;
        background-color: #000;
        color: #fff;
        border-radius: 10px;
    }   
}


/* .....................................................640px responsive..........  */
@media all and (max-width: 640px) {
    .enquiry-head-sec{
        width: 80%;
        margin: 30px auto;
    }
    .enquiryHead{
        font-size: 35px;
        text-align: center;
        color: #000;
    }
    .enquiryform-top{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 40px auto;
    
    }
    .enquiry-inputs{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin: 20px auto;
        padding-bottom: 50px;
        border-bottom: #555 1px solid;
    }
    .inputBoxes{
        width: 45%;
        margin: 10px;
    }
    .inputBoxes.textbox{
        height: 100px;
        width: 100%;
        margin: 20px;
        font-size: 15px;
    }
    .inputcontainer{
        border: #555 1px solid;
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    .inputcontainer:hover{
        border: #FCDA69 1px solid;
    
    }
    .inputcontainer span{
        font-size: 12px;
    }
    label{
        color:#7d7c7c;
        font-size: 15px;
    }
    .flag{
        width: 5%;
        height: 5%;
        border-radius: 50%;
        margin: auto 5px;
    }
    input{
        border: none;
        border-radius: 10px;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
    
    }
    .project-selectors{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        margin: 20px auto;
        padding-top: 50px;
    }
    .SelectContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 45%;
        margin: 10px auto;
    }
    
    .selectbox{
        display: flex;
        border-radius: 10px;
        width: 100%;
        margin: 10px auto;;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .selectbox:hover{
        border: #FCDA69 1px solid;
    
    }
    option{
        color: rgb(12, 2, 2);
        font-size: 15px;
    }
    .submit-button{
        display: flex;
        justify-content: flex-end;
        margin: 50px 100px ;
        
    }
    .formbutton{
        padding: 15px 80px;
        background-color: #000;
        color: #fff;
        border-radius: 10px;
    }   
}



/* .....................................................480px responsive..........  */
@media all and (max-width: 480px) {
    .enquiry-head-sec{
        width: 80%;
        margin: 30px auto;
    }
    .enquiryHead{
        font-size: 35px;
        text-align: center;
        color: #000;
    }
    .enquiryform-top{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 40px auto;
    
    }
    .enquiry-inputs{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin: 20px auto;
        padding-bottom: 50px;
        border-bottom: #555 1px solid;
    }
    .inputBoxes{
        width: 45%;
        margin: 10px;
    }
    .inputBoxes.textbox{
        height: 100px;
        width: 100%;
        margin: 20px;
        font-size: 15px;
    }
    .inputcontainer{
        border: #555 1px solid;
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    .inputcontainer:hover{
        border: #FCDA69 1px solid;
    
    }
    .inputcontainer span{
        font-size: 12px;
    }
    label{
        color:#7d7c7c;
        font-size: 15px;
    }
    .flag{
        width: 5%;
        height: 5%;
        border-radius: 50%;
        margin: auto 5px;
    }
    input{
        border: none;
        border-radius: 10px;
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
    
    }
    .project-selectors{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        margin: 20px auto;
        padding-top: 50px;
    }
    .SelectContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 45%;
        margin: 10px auto;
    }
    
    .selectbox{
        display: flex;
        border-radius: 10px;
        width: 100%;
        margin: 10px auto;;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .selectbox:hover{
        border: #FCDA69 1px solid;
    
    }
    option{
        color: rgb(12, 2, 2);
        font-size: 15px;
    }
    .submit-button{
        display: flex;
        justify-content: center;
        margin: 50px 100px ;
        
    }
    .formbutton{
        padding: 15px 80px;
        background-color: #000;
        color: #fff;
        border-radius: 10px;
    }   
}

/* .....................................................360px responsive..........  */
@media all and (max-width: 360px) {
    .enquiry-head-sec{
        width: 80%;
        margin: 30px auto;
    }
    .enquiryHead{
        font-size: 35px;
        text-align: center;
        color: #000;
    }
    .enquiryform-top{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 40px auto;
    
    }
    .enquiry-inputs{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin: 20px auto;
        padding-bottom: 50px;
        border-bottom: #555 1px solid;
    }
    .inputBoxes{
        width: 40%;
        margin: 10px;
    }
    .inputBoxes.textbox{
        height: 100px;
        width: 100%;
        margin: 20px;
        font-size: 15px;
    }
    .inputcontainer{
        border: #555 1px solid;
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    .inputcontainer:hover{
        border: #FCDA69 1px solid;
    
    }
    .inputcontainer span{
        font-size: 12px;
    }
    label{
        color:#7d7c7c;
        font-size: 15px;
    }
    .flag{
        width: 5%;
        height: 5%;
        border-radius: 50%;
        margin: auto 5px;
    }
    input{
        border: none;
        border-radius: 10px;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
    
    }
    input::placeholder{
        font-size: 8px;
    }
    .project-selectors{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        margin: 20px auto;
        padding-top: 50px;
    }
    .SelectContainer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 45%;
        margin: 10px auto;
    }
    
    .selectbox{
        display: flex;
        border-radius: 10px;
        width: 100%;
        margin: 10px auto;;
        padding:10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .selectbox:hover{
        border: #FCDA69 1px solid;
    
    }
    option{
        color: rgb(12, 2, 2);
        font-size: 15px;
    }
    .submit-button{
        display: flex;
        justify-content: center;
        margin: 50px 100px ;
        
    }
    .formbutton{
        padding: 15px 80px;
        background-color: #000;
        color: #fff;
        border-radius: 10px;
    }   
}

/* <!------------------------------------------------------------------------------------Contact Section in Enquirypage-> */
#Contact{
    background-color: #FCDA69;
    width: 100%;
    margin: auto;
    position: relative;
}
.container.contact{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin:auto;
    
}
.hr-line{
    content: "";
    position: absolute;
    bottom: 100px;
    left: 50px;
    height: 2px;
    width: 90%;
    background-color: #201c1c;
}
.contact-left{
    max-width: 50%;
}

element.style {
}
.contact-head{
    position: relative;
}
.contact-head h2{
    font-size: 50px;
    width: 50%;
    margin: 30px 40px ;
}

.keyword.contact {
    position: absolute;
    font-size: 13px;
    bottom: 0;
    left: 0;
}
.contact-email{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 40px auto;
    border-top: 1px solid #000;
    padding: 30px 20px;
}
.contact-img{
}
.contact-location{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 40px auto;
    border-top: 1px solid #000;
    padding: 30px 20px;
}
.contact-subhead{
    color: #000;
}
.contact-label{
    font-size: 20px;
    font-weight: 400;
    color: #000;
}
.img-box{
    margin-right: 50px;
}
.contact-right{
    width: 50%;
}
.contact-interaction{
    width: 100%;
    height: 70%;
    border: #000 1px solid;
    border-radius: 50%;
    border-bottom: 2px solid #000;
    margin: 50px auto;
}
.contact-interaction-left{
    display: flex;
    justify-content: space-between;
}
.contact-interaction-left span{
    font-size: 25px;
    font-weight: 600;
}
.contentbox{
    margin: 50% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border-bottom: #000 1px solid;
}
.handwave-img{
    margin: auto 20px;
}
.arrow-img{
    width: 100px;
    height: 100px;
}
/* .....................................................1280px responsive -- CONTACT DETAILS--..........  */
@media all and (max-width: 1280px) {
    .Contact{
        height: auto;
        margin-top: 50px;
        padding: 50px 0 0 0;
        background-color: #FCDA69;
        position: relative;
    }
    .container.contact{
        display: flex;
        justify-content: space-between;
        
    }
    .hr-line{
        content: "";
        position: absolute;
        bottom: 100px;
        left: 50px;
        height: 2px;
        width: 90%;
        background-color: #201c1c;
    }
    .contact-left{
        width: 50%;
    }
    .contact-head h2{
        font-size: 50px;
        width: 50%;
        margin: 30px 40px ; 
    }
    .keyword.contact {
        position: absolute;
        font-size: 13px;
        top: -15px;
        left: 30px;
    }
    .contact-email{
        display: flex;
        align-items: center;
        width: 80%;
        margin: 40px auto;
        border-top: 1px solid #000;
        padding: 30px 20px;
    }
    .contact-img{
    }
    .contact-location{
        display: flex;
        align-items: center;
        width: 80%;
        margin: 40px auto;
        border-top: 1px solid #000;
        padding: 30px 20px;
    }
    .contact-subhead{
        color: #000;
    }
    .contact-label{
        font-size: 20px;
        font-weight: 400;
        color: #000;
    }
    .img-box{
        margin-right: 50px;
    }
    .contact-right{
        width: 50%;
    }
    .contact-interaction{
        width: 100%;
        height: 70%;
        border: #000 1px solid;
        border-radius: 50%;
        border-bottom: 2px solid #000;
        margin: 50px auto;
    }
    .contact-interaction-left{
        display: flex;
        justify-content: space-between;
    }
    .contact-interaction-left span{
        font-size: 25px;
        font-weight: 600;
    }
    .contentbox{
        margin: 50% auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        border-bottom: #000 1px solid;
    }
    .handwave-img{
        margin: auto 20px;
    }
    .arrow-img{
        width: 100px;
        height: 100px;
    }
}
/* .....................................................980px responsive -- CONTACT DETAILS--..........  */
@media all and (max-width: 980px) {
    .Contact{
        height: auto;
        margin-top: 50px;
        padding: 50px 0 0 0;
        background-color: #FCDA69;
        position: relative;
    }
    .container.contact{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .hr-line{
        content: "";
        position: absolute;
        bottom: 30px;
        left: 50px;
        height: 2px;
        width: 90%;
        background-color: #201c1c;
    }
    .contact-left{
        width: 100%;
        margin: auto;
        padding: 0;
    }
    .contact-head h2{
        font-size: 50px;
        width: 100%;
        margin: auto; 
        text-align: center;
    }
    .keyword.contact {
        position: absolute;
        font-size: 13px;
        top: -15px;
        left: 30px;
    }
    .contact-email{
        display: flex;
        align-items: center;
        width: 80%;
        margin: 40px auto;
        border-top: 1px solid #000;
        padding: 30px 20px;
    }
    .contact-img{
        width: 100px;
        height: 50px;
    }
    .contact-location{
        display: flex;
        align-items: center;
        width: 80%;
        margin: 40px auto;
        border-top: 1px solid #000;
        padding: 10px;
    }
    .contact-subhead{
        color: #000;
        font-size: 16px;
        font-weight: bold;
    }
    .contact-label{
        font-size: 15px;
        font-weight: 400;
        color: #000;
    }
    .img-box{
        margin-right: 15px;
    }
    .contact-right{
        width: 80%;
        margin: auto;
    }
    .contact-interaction{
        width: 100%;
        height: 70%;
        border: #000 1px solid;
        border-radius: 50%;
        border-bottom: 2px solid #000;
        margin: 50px auto;
    }
    .contact-interaction-left{
        display: flex;
        justify-content: space-between;
    }
    .contact-interaction-left span{
        font-size: 25px;
        font-weight: 600;
    }
    .contentbox{
        margin: 50% auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        border-bottom: #000 1px solid;
    }
    .handwave-img{
        margin: auto 20px;
    }
    .arrow-img{
        width: 100px;
        height: 100px;
    }
}
/* .....................................................640px responsive -- CONTACT DETAILS--..........  */

@media all and (max-width: 640px) {
    .Contact{
        height: auto;
        margin-top: 50px;
        padding: 50px 0 0 0;
        background-color: #FCDA69;
        position: relative;
    }
    .container.contact{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .hr-line{
        content: "";
        position: absolute;
        bottom: 30px;
        height: 2px;
        width: 80%;
        margin: auto;
        background-color: #201c1c;
    }
    .contact-left{
        width: 100%;
        margin: auto;
        padding: 0;
    }
    .contact-head h2{
        font-size: 30px;
        width: 100%;
        margin: auto; 
        text-align: center;
    }
    .keyword.contact {
        position: absolute;
        font-size: 13px;
        top: -25px;
        left: 5px;
    }
    .contact-email{
        display: flex;
        align-items: center;
        width: 80%;
        margin: 40px auto;
        border-top: 1px solid #000;
        padding: 30px 20px;
    }
    .contact-img{
        width: 50px;
        height: 50px;
    }
    .contact-location{
        display: flex;
        align-items: center;
        width: 80%;
        margin: 40px auto;
        border-top: 1px solid #000;
        padding: 10px;
    }
    .contact-subhead{
        color: #000;
        font-size: 13px;
    }
    .contact-label{
        font-size: 10px;
        font-weight: 400;
        color: #000;
    }
    .img-box{
        margin-right: 10px;
    }
    .contact-right{
        width: 80%;
        margin: auto;
    }
    .contact-interaction{
        width: 100%;
        height: 70%;
        border: #000 1px solid;
        border-radius: 50%;
        border-bottom: 2px solid #000;
        margin: 50px auto;
    }
    .contact-interaction-left{
        display: flex;
        justify-content: space-between;
    }
    .contact-interaction-left span{
        font-size: 25px;
        font-weight: 600;
    }
    .contentbox{
        margin: 50% auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        border-bottom: #000 1px solid;
    }
    .handwave-img{
        margin: auto 20px;
    }
    .arrow-img{
        width: 100px;
        height: 100px;
    }
}
/* .....................................................360px responsive -- CONTACT DETAILS--..........  */

@media all and (max-width: 360px) {
    .Contact{
        height: auto;
        margin-top: 50px;
        padding: 50px 0 0 0;
        background-color: #FCDA69;
        position: relative;
    }
    .container.contact{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .hr-line{
        content: "";
        position: absolute;
        bottom: 30px;
        height: 2px;
        width: 75%;
        background-color: #201c1c;
    }
    .contact-left{
        width: 100%;
        margin: auto;
        padding: 0;
    }
    .contact-head h2{
        font-size: 22px;
        width: 100%;
        margin: auto; 
        text-align: center;
    }
    .keyword.contact {
        position: absolute;
        font-size: 9px;
        top: -25px;
        left: 5px;
    }
    .contact-email{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 40px auto;
        border-top: 1px solid #000;
        padding:10px;
    }
    .contact-img{
        width: 50px;
        height: 50px;
    }
    .contact-location{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 40px auto;
        border-top: 1px solid #000;
        padding: 10px;
    }
    .location-description{
        text-align: center;
    }
    .email-description{
        text-align: center;
    }
    .contact-subhead{
        color: #000;
        font-weight: bold;
        font-size: 13px;
        text-align: center;
    }
    .contact-label{
        font-size: 10px;
        font-weight: 400;
        color: #000;
        text-align: center;
    }
    .img-box{
        margin-right: 10px;
    }
    .contact-right{
        width: 80%;
        margin: auto;
    }
    .contact-interaction{
        width: 100%;
        height: 70%;
        border: #000 1px solid;
        border-radius: 50%;
        border-bottom: 2px solid #000;
        margin: 50px auto;
    }
    .contact-interaction-left{
        display: flex;
        justify-content: space-between;
    }
    .contact-interaction-left span{
        font-size: 25px;
        font-weight: 600;
    }
    .contentbox{
        margin: 50% auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        border-bottom: #000 1px solid;
    }
    .handwave-img{
        margin: auto 20px;
    }
    .arrow-img{
        width: 50px;
        height: 70px;
    }
}


/* <!--------------------------------------------------------------------------------------------FOOTER--> */
.footer{
    height: 40vh;
    background-color:rgba(255, 255, 255, 0.81);
    
}
.container.footer{
    margin:  auto;
    
}
.footer-top-left{
    width: 40%;
}
.footer-top{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(179, 175, 175,0.6);
    padding-bottom: 40px;
}
.footer-top-left{
    width: 40%;
    padding:0 120px 0 0;
}
.footer-logo{
    margin: 15px auto;
}
.footer-top-right{
    width: 50%;
}
.footer-top-right-ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}   
.footer-top-right-ul-li{
}
.li-item-head{
    font-size: 18px;
    font-weight: 800;
    margin: 18px 0;
}
.items{
    margin: 15px 0;
    font-size: 17px;
    font-weight: 500;
}
.footer-social-ul{
    display: flex;
    width: 100%;
    margin: 20px auto;
    padding: 0;
}
.phonenumber{
    display: flex;
    align-items: center;
    margin: 20px auto;
}
.CallIcon{
    width: 25px;
    height: 20px;
}
.footer-social-ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    margin: 10px auto;
}
.footer-social-ul li button{
    border: none;
}
.social-img{
    width: 50px;
    height: 30px;
    margin: auto;
}
.footer-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    margin: 15px auto;
}
.footer-bottom-left{
    width: 70%;
}
.footer-bottom-left p{
    font-size: 15px;
    font-weight: 600;
    color:#000;
}
.footer-bottom-right{
    width: 20%;
}
.footer-bottom-ul{
    display: flex;
    width: 100%;
    
}
.footer-bottom-ul li{
    width: 33%;
    font-size: 15px;
    font-weight: 600;
}
.footer-bottom-ul li button{
    width: 33%;
    font-size: 15px;
    font-weight: 600;
    border: none;
}

/* .....................................................1280px responsive --FOOTER--..........  */
@media all and (max-width: 1280px){
    .footer{
        height: 40vh;
        background-color:rgba(255, 255, 255, 0.81);
        
    }
    .container.footer{
        margin:  auto;
        
    }
    .footer-top-left{
        width: 40%;
    }
    .footer-top{
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid rgba(179, 175, 175,0.6);
        padding-bottom: 40px;
    }
    .footer-top-left{
        width: 40%;
        padding:0 120px 0 0;
    }
    .footer-logo{
        margin: 15px auto;
    }
    .footer-top-right{
        width: 50%;
    }
    .footer-top-right-ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0;
    }   
    .footer-top-right-ul-li{
    }
    .li-item-head{
        font-size: 18px;
        font-weight: 800;
        margin: 18px 0;
    }
    .items{
        margin: 15px 0;
        font-size: 15px;
        font-weight: 500;
    }
    .footer-social-ul{
        display: flex;
        width: 100%;
        margin: 20px auto;
        padding: 0;
    }
    .phonenumber{
        display: flex;
        align-items: center;
        margin: 20px auto;
    }
    .CallIcon{
        width: 25px;
        height: 20px;
    }
    .footer-social-ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23%;
        margin: 10px auto;
    }
    .footer-social-ul li button{
        border: none;
    }
    .social-img{
        width: 50px;
        height: 30px;
        margin: auto;
    }
    .footer-bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30px;
        margin: 15px auto;
    }
    .footer-bottom-left{
        width: 70%;
    }
    .footer-bottom-left p{
        font-size: 15px;
        font-weight: 600;
        color:#000;
    }
    .footer-bottom-right{
        width: 20%;
    }
    .footer-bottom-ul{
        display: flex;
        width: 100%;
        
    }
    .footer-bottom-ul li{
        width: 33%;
        font-size: 15px;
        font-weight: 600;
    }
    .footer-bottom-ul li button{
        width: 33%;
        font-size: 15px;
        font-weight: 600;
        border: none;
    }
}
/* .....................................................980px responsive --FOOTER--..........  */
@media all and (max-width: 980px){
    .footer{
        height: 40vh;
        background-color:rgba(255, 255, 255, 0.81);
        
    }
    .container.footer{
        margin:  auto;
        
    }
    .footer-top-left{
        width: 40%;
    }
    .footer-top{
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid rgba(179, 175, 175,0.6);
        padding-bottom: 40px;
    }
    .footer-top-left{
        width: 40%;
        padding:0 120px 0 0;
    }
    .footer-logo{
        margin: 15px auto;
    }
    .footer-top-right{
        width: 50%;
    }
    .footer-top-right-ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0;
    }   
    .footer-top-right-ul-li{
    }
    .li-item-head{
        font-size: 18px;
        font-weight: 800;
        margin: 18px 0;
    }
    .items{
        margin: 15px 0;
        font-size: 13px;
        font-weight: 400;
    }
    .footer-social-ul{
        display: flex;
        width: 100%;
        margin: 20px auto;
        padding: 0;
    }
    .phonenumber{
        display: flex;
        align-items: center;
        margin: 20px auto;
    }
    .number{
        font-size: 13px;
    }
    .CallIcon{
        width: 25px;
        height: 20px;
    }
    .footer-social-ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23%;
        margin: 10px auto;
    }
    .footer-social-ul li button{
        border: none;
    }
    .social-img{
        width: 40px;
        height: 25px;
        margin: auto;
    }
    .footer-bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30px;
        margin: 15px auto;
    }
    .footer-bottom-left{
        width: 70%;
    }
    .footer-bottom-left p{
        font-size: 15px;
        font-weight: 600;
        color:#000;
    }
    .footer-bottom-right{
        width: 20%;
    }
    .footer-bottom-ul{
        display: flex;
        width: 100%;
        
    }
    .footer-bottom-ul li{
        width: 33%;
        font-size: 15px;
        font-weight: 600;
    }
    .footer-bottom-ul li button{
        width: 33%;
        font-size: 15px;
        font-weight: 600;
        border: none;
    }
}
/* .....................................................768px responsive --FOOTER--..........  */
@media all and (max-width: 768px) {
    .footer{
        height: auto;
        background-color:rgba(255, 255, 255, 0.81);
        
    }
    .container.footer{
        margin:  auto;
        
    }
    .footer-top-left{
        width: 40%;
    }
    .footer-top{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(179, 175, 175,0.6);
        padding-bottom: 40px;
    }
    .footer-top-left{
        width: 90%;
        margin: auto;
        padding: 0;
        text-align: center;
    }
    .footer-logo{
        margin: 15px auto;
    }
    .footer-top-right{
        width: 90%;
    }
    .footer-top-right-ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0;
    }   
    .footer-top-right-ul-li{
    }
    .li-item-head{
        font-size: 18px;
        font-weight: 800;
        margin: 18px 0;
    }
    .items{
        margin: 15px 0;
        font-size: 14px;
        font-weight: 500;
    }
    .footer-social-ul{
        display: flex;
        text-align: center;
        width: 100%;
        margin: 20px auto;
        padding: 0;
    }
    .phonenumber{
        display: flex;
        align-items: center;
        margin: 20px auto;
    }
    .CallIcon{
        width: 25px;
        height: 20px;
    }
    .footer-social-ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23%;
        margin: 10px auto;
    }
    .footer-social-ul li button{
        border: none;
    }
    .social-img{
        width: 40px;
        height: 25px;
        margin: auto;
    }
    .footer-bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30px;
        margin: 15px auto;
        /* background-color: rgb(122, 96, 96); */
    }
    .footer-bottom-left{
        width: 50%;
    }
    .footer-bottom-left p{
        font-size: 15px;
        font-weight: 600;
        color:#000;
    }
    .footer-bottom-right{
        width: 50%;
    }
    .footer-bottom-ul{
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        
    }
    .footer-bottom-ul li{
        width: 33%;
        font-size: 15px;
        font-weight: 600;
    }
    .footer-bottom-ul li button{
        width: 33%;
        font-size: 15px;
        font-weight: 600;
        border: none;
    }
    
}
/* .....................................................640px responsive --FOOTER--..........  */
@media all and (max-width: 640px) {
    .footer{
        height: auto;
        background-color:rgba(255, 255, 255, 0.81);
        
    }
    .container.footer{
        margin:  auto;
        
    }
    .footer-top-left{
        width: 40%;
    }
    .footer-top{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(179, 175, 175,0.6);
        padding-bottom: 40px;
    }
    .footer-top-left{
        width: 90%;
        margin: auto;
        padding: 0;
        text-align: center;
    }
    .footer-logo{
        margin: 15px auto;
    }
    .footer-top-right{
        width: 90%;
        margin: auto;
        padding: 0;
    }
    .footer-top-right-ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0;
    }   
    .footer-top-right-ul-li{
    }
    .li-item-head{
        font-size: 18px;
        font-weight: 800;
        margin: 18px 0;
    }
    .items{
        margin: 15px 0;
        font-size: 12px;
        font-weight: 500;
    }
    .footer-social-ul{
        display: flex;
        text-align: center;
        width: 100%;
        margin: 20px auto;
        padding: 0;
    }
    .phonenumber{
        display: flex;
        align-items: center;
        margin: 20px auto;
    }
    .CallIcon{
        width: 25px;
        height: 20px;
    }
    .footer-social-ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23%;
        margin: 10px auto;
    }
    .footer-social-ul li button{
        border: none;
    }
    .social-img{
        width: 40px;
        height: 25px;
        margin: auto;
    }
    .footer-bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30px;
        margin: 15px auto;
        /* background-color: rgb(122, 96, 96); */
    }
    .footer-bottom-left{
        width: 50%;
    }
    .footer-bottom-left p{
        font-size: 12px;
        font-weight: 600;
        color:#000;
    }
    .footer-bottom-right{
        width: 50%;
    }
    .footer-bottom-ul{
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .footer-bottom-ul li{
        width: 33%;
        font-size: 12px;
        font-weight: 600;
    }
    .footer-bottom-ul li button{
        width: 33%;
        font-size: 15px;
        font-weight: 600;
        border: none;
    }
    
}
/* .....................................................480px responsive --FOOTER--.......... */
@media all and (max-width: 480px) {
    .footer{
        height: auto;
        background-color:rgba(255, 255, 255, 0.81);
        
    }
    .container.footer{
        margin:  auto;
        
    }
    .footer-top-left{
        width: 40%;
    }
    .footer-top{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(179, 175, 175,0.6);
        padding-bottom: 40px;
    }
    .footer-top-left{
        width: 100%;
        padding: 10px;
        display: block;
    }
    .footer-logo{
        width: 25%; 
        margin: auto;
    }
    .footer-top-left p{
        line-height: 1rem;
        font-size: 11px;
        margin: 5px;
    }
    .footer-top-right{
        width: 90%;
        margin: auto;
    }
    .footer-top-right-ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }   
    .footer-top-right-ul-li{
        width: 30%;
    }
    .li-item-head{
        font-size: 15px;
        font-weight: 800;
        margin: 18px 0;
    }
    .items{
        margin: 15px 0;
        font-size: 11px;
        font-weight: 500;
    }
    .footer-social-ul{
        display: flex;
        width: 100%;
        margin: 20px auto;
    }
    .phonenumber{
        display: flex;
        align-items: center;
        margin: 20px auto;
        font-size: 10px;
    }
    .CallIcon{
        width: 15px;
        height: 15px;
    }
    .footer-social-ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23%;
        margin: 10px auto;
    }
    .footer-social-ul li button{
        border: none;
    }
    .social-img{
        width: 20px;
        height: 15px;
        margin: auto;
    }
    .footer-bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30px;
        margin: 15px auto;
        /* background-color: rgb(122, 96, 96); */
    }
    .footer-bottom-left{
        width: 50%;
    }
    .footer-bottom-left p{
        font-size: 11px;
        font-weight: 400;
        color:#000;
    }
    .footer-bottom-right{
        width: 50%;
    }
    .footer-bottom-ul{
        display: flex;
        width: 100%;
        
    }
    .footer-bottom-ul li{
        width: 33%;
        font-size: 11px;
        font-weight: 500;
    }
    .footer-bottom-ul li button{
        width: 33%;
        font-size: 15px;
        font-weight: 600;
        border: none;
    }
}
/* .....................................................360px responsive --FOOTER--.......... */
@media all and (max-width: 360px) {
    .footer{
        height: auto;
        background-color:rgba(255, 255, 255, 0.81);
        
    }
    .container.footer{
        margin:  auto;
        
    }
    .footer-top-left{
        width: 40%;
    }
    .footer-top{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(179, 175, 175,0.6);
        padding-bottom: 40px;
    }
    .footer-top-left{
        width: 100%;
        padding: 10px 0;
        display: block;
    }
    .footer-logo{
        width: 25%; 
        margin: auto;
    }
    .footer-top-left p{
        line-height: 1rem;
        font-size: 11px;
        margin: 5px;
    }
    .footer-top-right{
        width: 100%;
        margin: auto;
    }
    .footer-top-right-ul{
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap ;
        width: 100%;
    }   
    .footer-top-right-ul li{
        width: 80%;
    }
    .li-item-head{
        text-align: center;
        font-size: 12px;
        font-weight: 800;
        margin: 18px 0;
    }
    .items{
        margin: 15px 0;
        font-size: 11px;
        font-weight: 500;
    }
    .footer-social-ul{
        display: flex;
        width: 100%;
        margin: 20px auto;
    }
    .phonenumber{
        display: flex;
        align-items: center;
        margin: 20px auto;
        font-size: 10px;
    }
    .CallIcon{
        width: 15px;
        height: 15px;
    }
    .footer-social-ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23%;
        margin: 10px auto;
    }
    .footer-social-ul li button{
        border: none;
    }
    .social-img{
        width: 20px;
        height: 15px;
        margin: auto;
    }
    .footer-bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30px;
        margin: 15px auto;
        /* background-color: rgb(122, 96, 96); */
    }
    .footer-bottom-left{
        width: 50%;
    }
    .footer-bottom-left p{
        font-size: 9px;
        font-weight: 400;
        color:#000;
    }
    .footer-bottom-right{
        width: 50%;
    }
    .footer-bottom-ul{
        display: flex;
        width: 100%;
        
    }
    .footer-bottom-ul li{
        width: 33%;
        font-size: 9px;
        font-weight: 500;
    }
    .footer-bottom-ul li button{
        width: 33%;
        font-size: 15px;
        font-weight: 600;
        border: none;
    }
}
/* .....................................................320px responsive --FOOTER--.......... */
@media all and (max-width: 320px) {
    .footer{
        height: auto;
        background-color:rgba(255, 255, 255, 0.81);
        
    }
    .container.footer{
        margin:  auto;
        
    }
    .footer-top-left{
        width: 40%;
    }
    .footer-top{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(179, 175, 175,0.6);
        padding-bottom: 40px;
    }
    .footer-top-left{
        width: 100%;
        padding: 10px;
        display: block;
    }
    .footer-logo{
        width: 25%; 
        margin: auto;
    }
    .footer-top-left p{
        line-height: 1rem;
        font-size: 11px;
        margin: 5px;
    }
    .footer-top-right{
        width: 90%;
        margin: auto;
    }
    .footer-top-right-ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }   
    .footer-top-right-ul-li{
        width: 30%;
    }
    .li-item-head{
        text-align: center;
        font-size: 11px;
        font-weight: 700;
        margin: 18px 0;
    }
    .items{
        margin: 15px 0;
        font-size: 10px;
        font-weight: 500;
    }
    .footer-social-ul{
        display: flex;
        width: 100%;
        margin: 20px auto;
    }
    .phonenumber{
        display: flex;
        align-items: center;
        margin: 20px auto;
        font-size: 10px;
    }
    .number {
        font-size: 10px;
    }
    .CallIcon{
        width: 15px;
        height: 15px;
    }
    .footer-social-ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23%;
        margin: 10px auto;
    }
    .footer-social-ul li button{
        border: none;
    }
    .social-img{
        width: 20px;
        height: 15px;
        margin: auto;
    }
    .footer-bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 30px;
        margin: 15px auto;
    }
    .footer-bottom-left{
        width: 50%;
    }
    .footer-bottom-left p{
        font-size: 9px;
        font-weight: 400;
        color:#000;
    }
    .footer-bottom-right{
        width: 50%;
    }
    .footer-bottom-ul{
        display: flex;
        width: 100%;
        
    }
    .footer-bottom-ul li{
        width: 33%;
        font-size: 9px;
        font-weight: 500;
    }
    .footer-bottom-ul li button{
        width: 33%;
        font-size: 15px;
        font-weight: 600;
        border: none;
    }
}
