@font-face {
    font-family: "Poppins-Regular";
    src: url(../Assets/Fonts/Poppins/poppins-regular-webfont.woff) format("woff"),
    url(../Assets/Fonts/Poppins/poppins-regular-webfont.woff2) format("woff2");
  }
@font-face {
    font-family: "Poppins-Bold";
    src: url(../Assets/Fonts/Poppins/poppins-bold-webfont.woff) format("woff"),
    url(../Assets/Fonts/Poppins/poppins-bold-webfont.woff2) format("woff2");
  }
h1{
    font-family: Inter-Bold;
}
a{
    font-family: Poppins-Regular;
    text-decoration: none;
}
p{
    font-family: Poppins-Regular;
    line-height: 1.5rem;
}
ul li{
    list-style: none;
}
.container {
    width: 90%;
    margin: auto;
  }
.keyword{
    position: absolute;
    top: -15px;
    left: 10px;
    color: #8873EF;
    font-size: 20px;
    transform: rotate(-22deg);
    font-family: Poppins-Regular;
}
/* <!--------------------------------------------------------------------------------header-bar --> */
.header-bar{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 0 auto;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.navbar ul li{
    margin:0 15px ;
    list-style: none;
    text-decoration: none;
}
.navbar ul li a{
    color: #000;
    font-weight: bold;
    position: relative;
}
.navbar ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s;
}
.navbar ul li a:hover::after{
    width: 100%;
    
}

.signing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;

}
.signing a{
    color: #000;
}
.sign-in{
    margin: auto;
}

.sign-up{
    margin: 0 15px;
    border: #000 1px solid;
    border-radius: 5px;
    padding: 10px 30px;
}

@media all and (max-width: 640px) {
    .header-bar{
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #fff;
        padding: 0 auto;
    }
    .logo{
        display: none;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .navbar ul li{
        margin:0 10px ;
        list-style: none;
        text-decoration: none;
        font-size: 12px;
        font-weight: 300;
    }
    .navbar ul li a{
        color: #000;
        font-weight: bold;
        position: relative;
    }
    .navbar ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #000;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition:0.5s;
    }
    .navbar ul li a:hover::after{
        width: 100%;
        
    }
    
    .signing{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
    
    }
    .signing a{
        color: #000;
        font-size: 12px;
        font-weight: 600;
    }
    .sign-in{
        margin: auto;
    }
    
    .sign-up{
        margin: 0 15px;
        border: #000 1px solid;
        border-radius: 5px;
        padding: 10px 30px;
    }   
}
/* ------------------------------------------------------------------768px responsive-----Header-----*/
@media all and (max-width: 768px) {
    .header-bar{
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #fff;
        padding: 0 auto;
    }
    .logo{
        display: none;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .navbar ul li{
        margin:0 10px ;
        list-style: none;
        text-decoration: none;
        font-size: 12px;
        font-weight: 300;
    }
    .navbar ul li a{
        color: #000;
        font-weight: bold;
        position: relative;
    }
    .navbar ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #000;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition:0.5s;
    }
    .navbar ul li a:hover::after{
        width: 100%;
    }
    .navbar ul li a:active{
        color: red;
    }
    .signing{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
    
    }
    .signing a{
        color: #000;
        font-size: 12px;
        font-weight: 600;
    }
    .sign-in{
        margin: auto;
    }
    
    .sign-up{
        margin: 0 15px;
        border: #000 1px solid;
        border-radius: 5px;
        padding: 10px 30px;
    }   
}
/* ------------------------------------------------------------------640px responsive-----Header-----*/
@media all and (max-width: 640px) {
    .header-bar{
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #fff;
        padding: 0 auto;
    }
    .logo{
        display: none;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    .navbar ul li{
        margin:0 10px ;
        list-style: none;
        text-decoration: none;
        font-size: 12px;
        font-weight: 300;
    }
    .navbar ul li a{
        color: #000;
        font-weight: bold;
        position: relative;
    }
    .navbar ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #000;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition:0.5s;
    }
    .navbar ul li a:hover::after{
        width: 100%;
        
    }
    
    .signing{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
    
    }
    .signing a{
        color: #000;
        font-size: 12px;
        font-weight: 600;
    }
    .sign-in{
        margin: auto;
    }
    
    .sign-up{
        margin: 0 15px;
        border: #000 1px solid;
        border-radius: 5px;
        padding: 10px 30px;
    }   
}
/* ------------------------------------------------------------------480px responsive-----Header-----*/

@media all and (max-width: 480px) {
    .header-bar{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        margin:  auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 0 0 10px 0;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px  auto;
        width: 90%;
    }
    .header-logo{
        width: 70%;
        margin: auto;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:auto;
        padding: 0;
    }
    .navbar ul li{
        margin: 0;
    }
    .navbar ul li a{
        margin:auto 10px;
        font-size: 10px;
    }
    .signing{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        width: 30%;
        margin: auto;
        padding: 0;
    }
    .signing a{
        color: #000;
        font-size: 10px;
        font-weight: 600;
    }
    .sign-in{
        margin: auto;
    }
    
    .sign-up{
        margin: 0 8px;
        border: #000 1px solid;
        border-radius: 5px;
        padding: 3px 8px;
    }   
}
/* ------------------------------------------------------------------360px responsive-----Header-----*/

@media all and (max-width: 360px) {
    .header-bar{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        margin:  auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 0 0 10px 0;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px  auto;
        width: 90%;
    }
    .header-logo{
        width: 70%;
        margin: auto;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:auto;
        padding: 0;
    }
    .navbar ul li{
        margin: 0;
    }
    .navbar ul li a{
        margin:auto 10px;
        font-size: 10px;
    }
    .signing{
        display: none;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        width: 30%;
        margin: auto;
        padding: 0;
    }
    .signing a{
        color: #000;
        font-size: 10px;
        font-weight: 600;
    }
    .sign-in{
        margin: auto;
    }
    
    .sign-up{
        margin: 0 8px;
        border: #000 1px solid;
        border-radius: 5px;
        padding: 3px 8px;
    }   
}
/* ------------------------------------------------------------------320px responsive-----Header-----*/
@media all and (max-width: 320px) {
    .header-bar{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        margin:  auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 0 0 10px 0;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px  auto;
        width: 90%;
    }
    .header-logo{
        width: 70%;
        margin: auto;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:auto;
        padding: 0;
    }
    .navbar ul li{
        margin: 0;
    }
    .navbar ul li a{
        margin:auto 10px;
        font-size: 10px;
    }
    .signing{
        display: none;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        width: 30%;
        margin: auto;
        padding: 0;
    }
    .signing a{
        color: #000;
        font-size: 10px;
        font-weight: 600;
    }
    .sign-in{
        margin: auto;
    }
    
    .sign-up{
        margin: 0 8px;
        border: #000 1px solid;
        border-radius: 5px;
        padding: 3px 8px;
    }   
}

/* -----------------------------------------------------------------------Project_spotlight-----*/
.Project_spotlight{
    background-color: #FCDA69;
    max-height: auto;
}
.container.Project_spotlight{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.left-spotlight{
    width: 40%;
    position: relative;
}
.left-spotlight-head{
    font-size: 65px;
}
.keyword.Hello{
    position: absolute;
    top: -5 px;
    left: 5px;
}
.landingtext.Project_spotlight{
    font-size: 14px;
}

/* .......................................................980px responsive........ */
@media all and (max-width: 980px) {
    .Project_spotlight{
        background-color: #FCDA69;
        height: auto;
    }
    .container.Project_spotlight{
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        padding:50px 10px;
    }
    .left-spotlight{
        width: 60%;
        position: relative;
    }
    .left-spotlight-head{
        font-size: 30px;
    }
    .keyword.Hello{
        position: absolute;
        top: -5 px;
        left: 5px;
    }
    .text.Project_spotlight{
        width: 90%;
    }
    .landingtext.Project_spotlight{
        font-size: 13x;
    }
    .seal{
        width: 150px;
        height: 150px;
    }
}

/* .......................................................480px responsive........ */
@media all and (max-width: 480px) {
    .Project_spotlight{
        background-color: #FCDA69;
    }
    .container.Experience_spotlight{
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        padding: auto;
    }
    .left-spotlight{
        width: 70%;
        position: relative;
    }
    .right-spotlight{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-spotlight img{
        width: 50%;
        margin: auto;
    }
    .left-spotlight-head{
        font-size: 30px;
    }
    .landingtext.Project_spotlight{
        font-size: 8px;
    }
    .keyword.Hello{
        position: absolute;
        top: -5px;
        left: 5px;
        font-size: 13px;
    }
}
/* --------------------------------------------------------------------------WEB APPS-- */
.WebApps{
    margin: 50px auto;
}
.container.WebApps{
    padding: 0 50px;
}


.projects-ul{
    display: flex;
    margin: auto;
    padding: 0;
}
.project-li{
    width: 30%;
    margin:0 auto;
    position: relative;
}
.li-part{
    width: 100%;
    border-top: 1px solid #000;
    margin: 20px auto;
    padding: 20px 0;
}
.project-smallHead{
    font-size: 50px;
}
.service-seal.project{
    position: absolute;
    bottom:100px;
    width: 150px;
    height: 200px;
}
.project-smallHead span{
    font-size: 50px;
    color: #FCDA69;
}
.topSec-left h3{
    color: #000;
    width: 70%;
    font-size: 30px;
    margin: 10px 0;
}
.topSec-left p{
    color:#000;
    width: 70%;
    font-size: 15px;
    margin: 10px 0;
}
.project-li.middle{
    margin-top:100px;
}
.topSec{
    display: flex;
    justify-content: space-between;
}

.project-img{
    display: block;
    width: 100%;
    height: 10%;
}
.arrow-icon{
    width: 80px;
    height: 50px;
}

/* .....................................................768px responsive..........  */
@media all and (max-width: 768px){
    .WebApps{
        margin: 50px auto;
    }
    .container.WebApps{
        padding: 0 50px;
    }
    
    
    .projects-ul{
        display: flex;
        margin: auto;
    }
    .project-li{
        width: 30%;
        margin:0 auto;
        position: relative;
    }
    .li-part{
        width: 100%;
        border-top: 1px solid #000;
        margin: 20px auto;
        padding: 20px 0;
    }
    .project-smallHead{
        font-size: 40px;
    }
    .service-seal.project{
        position: absolute;
        bottom:100px;
        width: 125px;
        height: 175px;
    }
    .project-smallHead span{
        font-size: 40px;
        color: #FCDA69;
    }
    .topSec-left h3{
        color: #000;
        width: 100%;
        font-size: 18px;
        margin: 10px 0;
    }
    .topSec-left p{
        color:#000;
        width: 100%;
        font-size: 10px;
        margin: 10px 0;
    }
    .project-li.middle{
        margin-top:100px;
    }
    .topSec{
        display: flex;
        justify-content: space-between;
    }
    
    .project-img{
        display: block;
        width: 100%;
        height: 10%;
    }
    .arrow-icon{
        width: 80px;
        height: 50px;
    }
}
/* .....................................................640px responsive..........  */
@media all and (max-width: 640px) {
    .WebApps{
        margin: 50px auto;
        /* height: 100vh; */
    }
    .container.WebApps{
        padding: 0 50px;
    }
    
    
    .projects-ul{
        display: flex;
        margin: auto;
    }
    .project-li{
        width: 30%;
        display: block;
        margin:0 auto;
        position: relative;
    }
    .li-part{
        width: 100%;
        border-top: 1px solid #000;
        margin: 20px auto;
        padding: 20px 0;
    }
    .project-smallHead{
        font-size: 30px;
    }
    .service-seal.project{
        position: absolute;
        bottom:100px
    }
    .project-smallHead span{
        font-size: 40px;
        color: #FCDA69;
    }
    .topSec-left h3{
        color: #000;
        width: 70%;
        font-size: 20px;
        margin: 10px 0;
    }
    .topSec-left p{
        color:#000;
        width: 70%;
        font-size: 15px;
        margin: 10px 0;
    }
    .project-li.middle{
        margin-top:100px;
    }
    .topSec{
        display: flex;
        justify-content: space-between;
    }
    
    .project-img{
        display: block;
        width: 100%;
        height: 10%;
    }
}

/* .....................................................480px responsive..........  */
@media all and (max-width: 480px) {
    .WebApps{
        margin: 50px auto;
    }
    .container.WebApps{
        padding: 0 10px;
    }
    
    .projects-ul{
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding: 0;
    }
    .project-li{
        width: 30%;
        display: block;
        margin:0 auto;
        position: relative;
    }
    .li-part{
        width: 100%;
        border-top: 1px solid #000;
        margin: 20px auto;
        padding: 20px 0;
    }
    .project-smallHead{
        font-size: 25px;
    }
    .service-seal.project{
        position: absolute;
        bottom: 100px;
        width: 70px;
        height: 70px;
    }
    .project-smallHead span{
        font-size: 25px;
        color: #FCDA69;
    }
    .topSec-left h3{
        color: #000;
        width: 100%;
        font-size: 15px;
        margin: 10px 0;
    }
    .topSec-left p{
        color:#000;
        width: 100%;
        font-size: 8px;
        margin: 10px 0;
    }
    .project-li.middle{
        margin-top:100px;
    }
    .topSec{
        display: flex;
        justify-content: space-between;
    }
    
    .project-img{
        display: block;
        width: 100%;
        height: 10%;
    }
    .arrow-icon{
        width: 30px;
        height: 35px;
    }
}

/* .....................................................360px responsive..........  */
@media all and (max-width: 360px) {
    .WebApps{
        margin: 50px auto;
    }
    .container.WebApps{
        padding: 0 10px;
    }
    
    .projects-ul{
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding: 0;
    }
    .project-li{
        width: 30%;
        display: block;
        margin:0 auto;
        position: relative;
    }
    .li-part{
        width: 100%;
        border-top: 1px solid #000;
        margin: 20px auto;
        padding: 20px 0;
    }
    .project-smallHead{
        font-size: 20px;
    }
    .service-seal.project{
        position: absolute;
        bottom: 100px;
        width: 70px;
        height: 70px;
    }
    .project-smallHead span{
        font-size: 20px;
        color: #FCDA69;
    }
    .topSec-left h3{
        color: #000;
        width: 100%;
        font-size: 11px;
        margin: 7px 0;
    }
    .topSec-left p{
        color:#000;
        width: 100%;
        font-size: 6px;
        margin: 10px 0;
    }
    .project-li.middle{
        margin-top:100px;
    }
    .topSec{
        display: flex;
        justify-content: space-between;
    }
    
    .project-img{
        display: block;
        width: 100%;
        height: 10%;
    }
    .arrow-icon{
        width: 30px;
        height: 35px;
    }
}

/* --------------------------------------------------------------------------MOBILE APPS-- */
.Mobapp{
    margin: 50px auto;
    height: auto;
}
.container.Mobapp{
    padding: 0 50px;
}


.projects-ul{
    display: flex;
    margin: auto;
    padding: 0;
}
.project-li{
    width: 30%;
    margin:0 auto;
    position: relative;
}
.li-part{
    width: 100%;
    border-top: 1px solid #000;
    margin: 20px auto;
    padding: 20px 0;
}
.project-smallHead{
    font-size: 60px;
}
.service-seal.project{
    position: absolute;
    bottom:100px
}
.project-smallHead span{
    font-size: 60px;
    color: #FCDA69;
}
.topSec-left h3{
    color: #000;
    width: 70%;
    font-size: 30px;
    margin: 10px 0;
}
.topSec-left p{
    color:#000;
    width: 70%;
    font-size: 18px;
    margin: 10px 0;
}
.project-li.middle{
    margin-top:100px;
}
.topSec{
    display: flex;
    justify-content: space-between;
}

.project-img{
    display: block;
    width: 100%;
    height: 10%;
}
/* .....................................................980px responsive..........  */
@media all and (max-width: 980px){
    .Mobapp{
        margin: 50px auto;
        height: auto;
    }
    .container.Mobapp{
        padding: 0 50px;
    }
    
    
    .projects-ul{
        display: flex;
        margin: auto;
    }
    .project-li{
        width: 30%;
        margin:0 auto;
        position: relative;
    }
    .li-part{
        width: 100%;
        border-top: 1px solid #000;
        margin: 20px auto;
        padding: 20px 0;
    }
    .project-smallHead{
        font-size: 45px;
    }
    .service-seal.project{
        position: absolute;
        bottom:100px
    }
    .project-smallHead span{
        font-size: 45px;
        color: #FCDA69;
    }
    .topSec-left h3{
        color: #000;
        width: 100%;
        font-size: 30px;
        margin: 10px 0;
    }
    .topSec-left p{
        color:#000;
        width: 100%;
        font-size: 14px;
        margin: 10px 0;
    }
    .project-li.middle{
        margin-top:100px;
    }
    .topSec{
        display: flex;
        justify-content: space-between;
    }
    
    .project-img{
        display: block;
        width: 100%;
        height: 10%;
    }
}

@media all and (max-width: 768px){
    .Mobapp{
        margin: 50px auto;
    }
    .container.Mobapp{
        padding: 0 50px;
    }
    
    
    .projects-ul{
        display: flex;
        margin: auto;
    }
    .project-li{
        width: 30%;
        margin:0 auto;
        position: relative;
    }
    .li-part{
        width: 100%;
        border-top: 1px solid #000;
        margin: 20px auto;
        padding: 20px 0;
    }
    .project-smallHead{
        font-size: 40px;
    }
    .service-seal.project{
        position: absolute;
        bottom:100px;
        width: 125px;
        height: 175px;
    }
    .project-smallHead span{
        font-size: 40px;
        color: #FCDA69;
    }
    .topSec-left h3{
        color: #000;
        width: 100%;
        font-size: 18px;
        margin: 10px 0;
    }
    .topSec-left p{
        color:#000;
        width: 100%;
        font-size: 10px;
        margin: 10px 0;
    }
    .project-li.middle{
        margin-top:100px;
    }
    .topSec{
        display: flex;
        justify-content: space-between;
    }
    
    .project-img{
        display: block;
        width: 100%;
        height: 10%;
    }
    .arrow-icon{
        width: 80px;
        height: 50px;
    }
}

/* .....................................................640px responsive..........  */
@media all and (max-width: 640px) {
    .Mobapp{
        margin: 50px auto;
        /* height: 100vh; */
    }
    .container.Mobapp{
        padding: 0 50px;
    }
    
    
    .projects-ul{
        display: flex;
        margin: auto;
    }
    .project-li{
        width: 30%;
        display: block;
        margin:0 auto;
        position: relative;
    }
    .li-part{
        width: 100%;
        border-top: 1px solid #000;
        margin: 20px auto;
        padding: 20px 0;
    }
    .project-smallHead{
        font-size: 30px;
    }
    .service-seal.project{
        position: absolute;
        bottom:100px
    }
    .project-smallHead span{
        font-size: 30px;
        color: #FCDA69;
    }
    .topSec-left h3{
        color: #000;
        width: 100%;
        font-size: 17px;
        margin: 10px 0;
    }
    .topSec-left p{
        color:#000;
        width: 100%;
        font-size: 9px;
        margin: 10px 0;
    }
    .project-li.middle{
        margin-top:100px;
    }
    .topSec{
        display: flex;
        justify-content: space-between;
    }
    
    .project-img{
        display: block;
        width: 100%;
        height: 10%;
    }
}

/* .....................................................480px responsive..........  */
@media all and (max-width: 480px) {
    .Mobapp{
        margin: 50px auto;
    }
    .container.Mobapp{
        padding: 0 10px;
    }
    
    .projects-ul{
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding: 0;
    }
    .project-li{
        width: 30%;
        display: block;
        margin:0 auto;
        position: relative;
    }
    .li-part{
        width: 100%;
        border-top: 1px solid #000;
        margin: 20px auto;
        padding: 20px 0;
    }
    .project-smallHead{
        font-size: 22px;
    }
    .service-seal.project{
        position: absolute;
        bottom: 100px;
        width: 70px;
        height: 70px;
    }
    .project-smallHead span{
        font-size: 22px;
        color: #FCDA69;
    }
    .topSec-left h3{
        color: #000;
        width: 100%;
        font-size: 15px;
        margin: 10px 0;
    }
    .topSec-left p{
        color:#000;
        width: 100%;
        font-size: 8px;
        margin: 10px 0;
    }
    .project-li.middle{
        margin-top:100px;
    }
    .topSec{
        display: flex;
        justify-content: space-between;
    }
    
    .project-img{
        display: block;
        width: 100%;
        height: 10%;
    }
    .arrow-icon{
        width: 30px;
        height: 35px;
    }
}

/* .....................................................360px responsive..........  */
@media all and (max-width: 360px) {
    .Mobapp{
        margin: 50px auto;
    }
    .container.Mobapp{
        padding: 0 10px;
    }
    
    .projects-ul{
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding: 0;
    }
    .project-li{
        width: 30%;
        display: block;
        margin:0 auto;
        position: relative;
    }
    .li-part{
        width: 100%;
        border-top: 1px solid #000;
        margin: 20px auto;
        padding: 20px 0;
    }
    .project-smallHead{
        font-size: 17px;
    }
    .service-seal.project{
        position: absolute;
        bottom: 100px;
        width: 70px;
        height: 70px;
    }
    .project-smallHead span{
        font-size: 17px;
        color: #FCDA69;
    }
    .topSec-left h3{
        color: #000;
        width: 100%;
        font-size: 11px;
        margin: 7px 0;
    }
    .topSec-left p{
        color:#000;
        width: 100%;
        font-size: 6px;
        margin: 10px 0;
    }
    .project-li.middle{
        margin-top:100px;
    }
    .topSec{
        display: flex;
        justify-content: space-between;
    }
    
    .project-img{
        display: block;
        width: 100%;
        height: 10%;
    }
    .arrow-icon{
        width: 25px;
        height: 30px;
    }
}

